
body {
    background-color: rgba(231, 214, 57, 0.897);
   
}

#instructions {
    font-size: 40px;
    font-family: 'Schoolbell', cursive;
    text-shadow: 1px 2px white;
    text-align: center;
    padding-bottom: 30px;
}
img {
    height: 100%;
    width: 500px;
    padding: 2px;
   border: 3px solid #021a40;
   background-color :#ff0;

} 
h1 {
    padding-top: 12px;
}
.card-header {
    background-color: rgb(158, 199, 233) !important;
    font-family: 'Schoolbell', cursive;
    text-shadow: 2px 2px white;
}
.card-body {
    font-family: 'Schoolbell', cursive;
    text-shadow: 2px 2px white;
}

#nameToGuess {
    font-family: 'Schoolbell', cursive;
    text-shadow: 2px 2px rgba(231, 214, 57, 0.897);
}

